@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Lato');
@import url("https://use.typekit.net/ojv4ekx.css");
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

$dark: rgba(0,0,0,0.8);
$ldark: #222930;
$altwhite: #fafafa;
$softgray: #b3b3b3;
// $main: rgb(121, 207, 247);
$main: #275F7F;
$main-dark: #1F3F59;
$darkgray: #B6AEAE;
$test: rgb(130, 180, 255);


.main-color {
    color: $main;
}