@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Lato');
@import url("https://use.typekit.net/ojv4ekx.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Eurostile';
    // font-family: 'Lato';
}

$dark: rgba(0,0,0,0.8);
$ldark: #000;
$altwhite: #fafafa;
$softgray: rgb(161, 161, 161);
$main: rgb(255, 95, 95);

.main-color {
    color: $main;
}