@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

html {
    font-family: 'Roboto';
}

$fresh: #F7F5E6;
$vermillion: #333A56;
$sunshine: #52658F;
$clean: #E8E8E8;
$slightgrey: #fafafa;