@import '../../main.scss';

.about {
    z-index: 1;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    // background: red;
}
@keyframes backToRight {
    100% {
        opacity: 1;
        // right: 0;
    }
}

.about-container {
    position: absolute;
    z-index: 0;
    opacity: 0;
    // height: 88%;
    // margin: 10em;
    width: 100%;
    background-image: linear-gradient(rgba(68, 68, 68, 0.68), rgba(0, 0, 0, 0.68)), url('../images/main.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    right: 100%;
    animation-name: backToRight;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    // bottom: 0;
    // top: 0;
    // border: 1px solid black;
}

.about-title {
    position: relative;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5em;
    h2 {
        font-weight: 200;

    }
}

.about-intro {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;

    .about-img {
        width: 15em;
        height: 15em;
        border-radius: 200px;
    }
}
.about-introduction {
    padding: 2em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction {
    &-heading {
        display: inline-block;
        font-weight: 200;
        font-size: 3em;
        
    }
    &-heading-name {
        // opacity: 0;
        display: inline-block;
        font-weight: 200;
        font-size: 3em;
    }
    &-message {
        margin-top: 0.25em;
        font-weight: 100;
        // opacity: 0;
    }
}

.about-grid {
    position: relative;
    margin: 0 auto;
    width: 75%;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-section {
    text-align: center;
    padding: 1em;
}
.grid-section-figure {
    margin: 0 auto;
    width: 27%;
}
.grid-section-figcaption {
    margin: 0 auto;
    margin-top: 1em;
}
.about-skills {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-top: 4em;
}
.skills-columns {
    width: 80%;
    display: flex;
    margin: 3em auto;
    justify-content: space-around;
    // justify-content: center;
}

.skill-column {
    flex: 1;
    // border: 1px solid black;
    // &:first-child {
    //     border-radius: 10px 0 0 10px;
    // }
    // &:last-child {
    //     border-radius: 0 10px 10px 0;
    // }
}

.skill-column {
    &-title {
        display: block;
        margin: 1em 0;
        margin-bottom: 0;
        // border-bottom: 1px solid black;
        padding-bottom: 1em;

    }
    &-content {
        list-style-type: none;
        padding: 1.5em 0;
        li {
            margin: 0.5em 0;
        }
    }
}