@import '../../main.scss';

.about {
    z-index: 1;
    height: 100vh;
    position: absolute;
    margin-top: 100vh;
    right: 0;
    width: 70%;
}

.about-intro {
    width: 80%;
    margin: 0 auto;
    margin-top: 8em;
    display: flex;

    .about-img {
        width: 15em;
        border-radius: 200px;
    }
}
.about-introduction {
    padding: 2em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction {
    &-heading {
        display: block;
        width: 100%;
        // margin: 1em 0;
    }
    &-message {
        margin-top: 1em;
    }
}