@import '../../main.scss';

.contact {
    z-index: 1;
}

.contact-container {
    margin: 5em auto;
    color: white;
    text-align: center;
}

.contact {
    &-subheading {
        color: $fourth;
        font-size: 1em;
        margin: 0;
        margin-top: 2em;
        font-weight: 300;
    }
    &-heading {
        font-size: 4em;
    }
    &-description {
        margin: 1em;
        font-size: 1.5em;
        &-status {
            color: $seventh;
            text-transform: uppercase;
        }
    }
    &-email {
        position: relative;
        font-size: 0.85em;
        &-icon {
            position: absolute;
            margin-left: -1.25em;
            margin-top: 0.3em;
        }
    }
    &-send {
        padding: 1.5em;
        width: 8em;
        margin: 4em auto;
        display: block;
        border: 1px solid $fifth;
        color: $fifth;
        &:hover {
            background-color: rgba(108, 117, 125, 0.349);
            // color: white;
            // border: 1px solid white;
            color: $fifth;
            text-decoration: none;
        }
    }
}

