@import '../../main.scss';

.experience {
    z-index: 1;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    // background-color: $softgray;
}

@keyframes backToLeft {
    100% {
        opacity: 1;
        // left: 0;
        width: 100%;
    }
}

.experience-background {
    position: absolute;
    z-index: 0;
    opacity: 0;
    background-color: $softgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    // left: 0;
    right: 0;
    width: 0%;
    animation-name: backToLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.experience-title {
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
    opacity: 0;
    transform: translateY(2em);
    animation-name: fadeFromBottom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes boxShadowFadeIn {
    100% {
        opacity: 1;
        box-shadow: 0.5em 0.5em 0.5em #888;
        transform: translateX(0);
    }
}

.experience-container {
    width: 75%;
    margin: 4em auto;
    margin-bottom: 2em;
}

.experience {
    // padding: 1em;
    &-col {
        color: white;
        padding: 1em;
        // background-color: white;
        background-color: #666;
        display: flex;
        height: 30em;

        opacity: 0;
        transform: translateX(-3em);
        // box-shadow: 0.5em 0.5em 0.5em #888;
        // border-radius: 50px;
        animation-name: boxShadowFadeIn;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 1s;

        border: 1px solid #888;
        margin: 4em 2em;
    }
    &-img-container {
        flex: 1;
        display: flex;
        // flex-direction: column;
        .experience-img {
            align-self: center;
            display: block;
            width: 8em;
            margin: 0 auto;
        }
    }

    &-main {
        align-self: center;
        flex: 3;
        .experience {
            &-position {
                font-size: 2.75em;
                font-weight: 200;
                margin: 0;
            }
            &-company {
                font-weight: 200;
                // margin: 0;
            }
            &-duration {
                // margin:
                font-weight: 200;
                margin-top: -0.5em;
            }
            &-tasks {
                list-style-position: inside;
                text-indent: -1em;
                padding-left: 1em;
            }
            &-task {
                font-size: 0.75em;
                padding-right: 4em;
            }
        }
    }
}