@import '../../main.scss';

.footer {
    height: 10vh;
    position: relative;
    overflow: hidden;
    background-color: $dark;
}

.copyright {
    height: inherit;
    display: flex;
    width: 100%;
    background: $ldark;
    text-align: center;
    color: $altwhite;
    p {
        margin: 0 auto;
        display: block;
        align-self: center;
    }
}