@import '../../main.scss';

@keyframes text {
    0% {
        color: $altwhite;
    }
    25% {
        color: $softgray;
    }
    50% {
        color: $test;
    }
    75% {
        color: $darkgray;
    }
    100% {
        color: $altwhite;
    }
}

.footer {
    height: 10vh;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.copyright {
    height: inherit;
    display: flex;
    width: 100%;
    text-align: center;
    color: $altwhite;
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    p {
        margin: 0 auto;
        display: block;
        align-self: center;
        font-weight: 100;
    }
}
@media only screen and (max-width: 735px) {
    .copyright {
        font-size: 0.6em;
    }
}