@import '../../main.scss';

.guestbook-list {
    z-index: 1;
    min-height: 100vh;
    position: relative;
    background: yellow;
    overflow: hidden;
}

.guestbook-title {
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
    text-transform: uppercase;
}

.guestbook-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post {
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    width: 13em;
    height: 15em;
}