@import '../../main.scss';

.home {
    z-index: 10;
    transition: all 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.home-content {
    width: 100%;
    height: 100vh;
    background-color: $altwhite;
    overflow: hidden;
}

.home-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: inherit;
    background-image: linear-gradient(rgba(68, 68, 68, 0.68),rgba(0, 0, 0, 0.68)),url('../images/main.jpeg');
    background-size: cover;
    background-position: center;
}

.home-main {
    transition: all 0.1s ease-in-out;
    text-align: center;
    position: relative;
    width: 100%;
    height: inherit;
    z-index: 2;
    display: flex;
    &-content {
        width: 30%;
        margin: 0 auto;
        color: $altwhite;
        align-self: center;
    }
}

.home {
    
    &-title {
        font-size: 3.5em;
        font-weight: 500;
        text-transform: uppercase;
    }
    &-subtitle {
        font-size: 1.5em;
        display: inline-block;
        padding: 0 3em;
        padding-bottom: 0.25em;
        border-bottom: 1px solid $altwhite;
        // background: red;
    }
}
.home-hr {
    background-color: $altwhite;
    height: 3em;
    width: 0.5px;
    margin: 0 auto;
}
.home-hr-2nd {
    background-color: $altwhite;
    height: 4em;
    width: 0.5px;
    margin: 0 auto;
}
.home-nav {
    display: flex;
    justify-content: center;
}
.home-nav li {
    flex: 1;
    display: inline-block;
    font-size: 1.35em;
    border: 1px solid $altwhite;
    a {
        display: block;
        padding: 0.5em 0;
        color: $altwhite;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
            background-color: $main;
            transition: background-color 0.1s ease-in;
        }
    }
}

.home-links {
    color: $altwhite;
    font-size: 1.25em;
    border-top: 1px solid $altwhite;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 0.5em;
}

.home-link {
    display: inline-block;
    // width: 2em;
    // background: red;
}
.home-link-hr {
    display: inline-block;
    width: 4em;
    margin: auto;
    margin-bottom: 0.5em;
}
.home-link-item {
    font-size: 2em;
    color: $altwhite;
    &:hover {
        color: $main;
        transition: color 0.1s ease-in;
    }
}