@import '../../main.scss';

.nav {
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    display: flex;
    transition: all 0.25s ease-in-out;
    background-color: $first;
    // box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.575);
}
.nav-home {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    
}
.nav-links {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-link {
    display: inline-block;
    color: $eighth;
    padding: 1em;
    &-icon {
        color: $fourth;
    }
    &:hover {
        color: $fourth;
        transition: all 0.25s ease-in-out;
        text-decoration: none;
    }
}

.at-top {
    color: $eighth;
    padding: 5em;
    // box-shadow: 0 4px 2px -2px black;
}