@import '../../main.scss';

.projects {
    z-index: 1;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    // background-color: $main;
    background-image: linear-gradient(rgba(68, 68, 68, 0.68), rgba(0, 0, 0, 0.68)), url('../images/project/project.jpeg');
    background-size: cover;
    background-repeat: none;
    background-position: bottom;
    color: $altwhite;
    opacity: 0;
    animation-name: fadeFromBottom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.projects-title {
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3em;
    opacity: 0;
    transform: translateY(1em);
    animation-name: fadeFromBottom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: 200;
}
.project-container {
    width: 60em;
    height: 33em;
    margin: 2em auto;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
    transform: translateY(1em);
    position: relative;
    animation-name: fadeFromBottom;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}


.project {
    flex: 1;
    width: 60em;
    height: 33em;
    margin: 0 auto;
    background-color: $dark;
    &-img {
        // height: 33em;
        transition: 0.25s all ease-in-out;
        opacity: 0.7;
        z-index: 1;
        width: 60em;
        height: 33em;
    }
    &-name {
        font-size: 4em;
        font-weight: 200;
        margin-top: 2.7em;
        margin-bottom: 0.65em;
        // margin-top: auto;
    }
    &-description {
        opacity: 0;
    }
    &-preview, &-code {
        text-decoration: none;
        color: white;
        display: block;
        position: absolute;
        bottom: 2em;
        padding: 0.25em;
        border-radius: 2px;
        opacity: 0;
    }
    &-preview {
        left: 4em;
    }
    &-code {
        right: 4em;
    }
}
.project-main {
    transition: 0.25s all ease-in-out;
    overflow: hidden;
    height: 30em;
    text-align: center;
}

.project:hover {
    transition: 1s all ease-in-out;
    .project-img {
        opacity: 0;
        transition: 0.5s all ease-in-out;
        text-decoration: none;;
    }
    .project-description, .project-preview, .project-code {
        opacity: 1;
        transition: 0.5s all ease-in-out;
        text-decoration: none;
    }
}
@media only screen and (max-width: 1068px) {
    .project-container {
        width: 80%;
        height: 23em;
    }
    .project {
        width: 100%;
        height: 23em;
        &-img {
            width: 100%;
            height: 23em;
        }
        &-name {
            font-size: 2em;
            margin-top: 8.6em;
        }
    }
}
@media only screen and (max-width: 735px) {
    .project-container {
        width: 97%;
        margin: 5em auto;
    }
    .project-preview {
        left: 1em;
        font-size: 0.75em;
    }
    .project-code {
        right: 1em;
        font-size: 0.75em;
    }
}