@import '../../main.scss';

.projects {
    color: white;
    overflow: hidden;
}

.featured {
    width: 50%;
    margin: 2em auto;
}

.featured-project {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 35em;
    margin: 5em 0;

    .featured-project-image {
        position: absolute;
        z-index: 0;
        height: 100%;
        background-color: blue;
        transition: all 0.25s ease-in-out;
        img {
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
    .featured-project-info {
        opacity: 0;
        z-index: 1;
        text-align: center;
        flex: 1;
        transition: all 0.25s ease-in-out;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .featured-top {
            opacity: 0;
            transition: all 0.25s ease-in-out;
            transform: translateY(-1em);
            .featured-subheading {
                margin: 0;
                font-weight: 300;
                font-size: 1em;
                text-transform: uppercase;
                color: $fourth;
            }
            .featured-heading {
                overflow: hidden;
                font-size: 5em;
            }
        }
        .featured-bottom {
            opacity: 0;
            transition: all 0.25s ease-in-out;
            transform: translateY(1em);

            .featured-tech {
                list-style-type: none;
                margin-top: 1.5em;
                li {
                    display: inline-block;
                    padding: 0 1em;
                    margin: 0 0.25em;
                    color: $seventh;
                    &:first-child {
                        margin-left: 0;
                    }
                    border-radius: 2px;
                }
            }
        }
        .featured-description {
            width: 60%;
            margin: 0 auto;
        }
        .featured-link {
            display: inline-block;
        }
    }

    &:hover {
        .featured-project-image {
            transition: 0.25s all ease-in-out;
            opacity: 0.1;
        }
        .featured-project-info {
            opacity: 1;
            transition: 0.25s all ease-in-out;
            .featured-top {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.25s ease-in-out;
            }
            .featured-bottom {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.25s ease-in-out;
            }
        }
    }
}
