@import '../../main.scss';
.main {
    z-index: 1;
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    background-color: $slightgrey;
}

.home {
    min-height: 100vh;
    margin-top: 100px;
    text-align: center;
    display: flex;
}

.home-content {
    align-self: center;
}

.home-title {
    // margin: 3em auto;
    // margin-bottom: 1em;
    // font-size: 28px;
    // border-bottom: 2px solid black;
    // padding-bottom: 0.25em;
    // display: inline-block;
}