@import '../../main.scss';

.main {
    z-index: 1;
    position: absolute;
    // min-height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    background-color: $sunshine;
    // overflow: scroll;
}

.home {
    min-height: 100vh;
    margin-top: 100px;
}